header{
    background-color: #131921;
    color: white;
    width: 100vw;
}

header > ul,  header > ul > div {
    display: flex;
}

header > ul{
    padding: 0 1rem;
    justify-content: space-between;
}

header > ul > div{
    justify-content: center;
}

header > ul > li, header > ul > div > li {
    list-style: none;
    display: inline-block;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0 1rem;
}

#header-search-container{
    font-size:0px;
    border-radius: 0.5rem;
    overflow:hidden;
}

.headerfontsize{
    /* display: inline-block; */
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
}

.amazonlightbutton{
    background-color: #575f74;
    width: 100%;
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    outline: none;
    color: white;
}

.amazonlightbutton:hover{
    background-color: #393f4d;
    transition: background-color ease-in-out 200ms;
}

.amazonbutton{
    background-color: #ffb937;
    color: black;
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    outline: none;
}

.amazonbutton:hover{
    background-color: #ffa600;
    transition: background-color ease-in-out 200ms;
}

.amazonoutlinebutton{
    border: 2px solid #ffa600;
    outline: none;
    background-color: transparent;
    color:inherit;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    cursor:pointer;
    border-radius: 5px;
    transition: background-color ease-in-out 200ms;
}

.amazonoutlinebutton:hover{
    background-color: #ffa600;
    color: white;
    transition: background-color ease-in-out 200ms;
}

.header-links{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-brand{
    font-size: 1.35rem;
    font-weight: bold;
}

#mobile-nav-links-list{
    justify-content: center;
    background-color: #2d323e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100vw;
    background-color: #cddbff;
}


a{
    color:inherit;
    text-decoration: none;
}

@media screen and (max-width: 950px){
    #mobile-nav-links-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 678px){
    #header-search-container > select, input, button{
        width: 100%;
    }
}