@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100vw;
    background-color: #cddbff;
}
